body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  max-width: 100vw;
}
.sealer {
  border: 1px solid black;
  padding: 1rem;
}

.elections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.election {
  border: 1px solid black;
  padding: 1rem;
}
.election p {
  line-break: anywhere;
}
